name: ZJU AutoSign

on:
  workflow_dispatch:      # 允许手动触发
  schedule:
    - cron: '0 23 * * *'  # 北京时间早上7:00

jobs:
  run-sign:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # 【关键修改】这里改成 22，和你本机一致
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'

    - name: Install dependencies
      run: npm install

    # 这一步还是保留，确保服务器知道这是新版JS
    - name: Set package type to module
      run: npm pkg set type="module"

    - name: Run AutoSign Script
      env:
        ZJU_USERNAME: ${{ secrets.ZJU_USERNAME }}
        ZJU_PASSWORD: ${{ secrets.ZJU_PASSWORD }}
        ENABLE_DINGTALK: ${{ secrets.ENABLE_DINGTALK }}
        DINGTALK_WEBHOOK: ${{ secrets.DINGTALK_WEBHOOK }}
        DINGTALK_SECRET: ${{ secrets.DINGTALK_SECRET }}
      run: |
        cd courses.zju
        node autosign.js
